{{ form_start(form, {'attr': {'class': 'form-horizontal'}})}}
<div class="row justify-content-center login-form">
    {% if error is not null %}
        <div class="alert alert-danger w-100">{{ error|trans({}, 'SecurityBundle') }}</div>
    {% endif %}
    <div class="col-12">
        <div class="row justify-content-between field">
            <div class="col-12 col-md-6 no-gutters">
                {{ form_label(form.login, 'login.login'|trans({}, 'SecurityBundle')) }}
            </div>
            <div class="col-12 col-md-6 no-gutters">
                {{ form_widget(form.login) }}
            </div>
        </div>
        <div class="row justify-content-between field">
            <div class="col-12 col-md-6 no-gutters">
                {{ form_label(form.password, 'login.password'|trans({}, 'SecurityBundle')) }}
            </div>
            <div class="col-12 col-md-6 no-gutters">
                {{ form_widget(form.password) }}
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="row justify-content-center button">
            <div class=col-6">
                {{ form_row(form.connect, {'label': 'login.connect'|trans({}, 'SecurityBundle'), 'attr': {'class':'btn btn-primary'}}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
