@import 'variables';

@mixin title {
  .title {
    border-bottom: 1px solid $line-color;
    margin: 1rem 0;
    padding: 0 0 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@mixin footer {
  .footer {
    border-top: 1px solid $line-color;
    margin: 1rem 0;
    padding: 1rem 0 0;
  }
}

@mixin inputs {
  label {
    font-size: .9rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $label-width;

    &.required {
      &:after {
        color: $required-color;
        content: ' *';
      }
    }
  }

  input:not([type="submit"]), textarea, select {
    border: 1px solid $input-border-color;
    border-radius: 4px;
    font-size: .9rem;
    outline: 0;
    padding: .2rem .5rem;
    transition-duration: .5s;
    width: $input-width;
    height: $input-height;

    &:focus {
      border: 2px solid darken($input-border-color, 10%);
      box-shadow: 0 0 5px darken($input-border-color, 10%);
      outline: 0;
      transition-duration: .5s;
    }

    &:hover {
      box-shadow: 0 0 5px darken($input-border-color, 10%);
      outline: 0;
      transition-duration: .5s;
    }

    &:active {
      box-shadow: 0 0 10px 10px darken($input-border-color, 10%);
      outline: 0;
      transition-duration: .5s;
    }

    &::selection {
      background: lighten($input-border-color, 30%);
    }
  }

  input[type="checkbox"] {
    width: inherit;
  }
}
