$user-enabled: #007f00;
$user-disabled: #7f0000;

$btn-edit: #007f7f;
$btn-revoke: #af7f2f;
$btn-delete: #7f0000;
$btn-cancel: #7f0000;
$btn-undo-revoke: #007f00;
$btn-submit: #007f00;
$btn-add: #009f00;
$btn-fg-color: #fff;

$line-color: #007f7f;
$required-color: $user-disabled;

$input-bg: #fff;
$input-fg: #000;
$input-border-color: $line-color;
$input-width: 300px;
$input-height: 30px;
$label-width: 180px;

$bs-danger-bg: #f8d7da;
$bs-danger-fg: #721c24;