@import '../commons/variables';
@import '../commons/common';
@import '~@fortawesome/fontawesome-free/css/all.css';

.edit {
  @include title;
  @include footer;

  .btn, a[href] {
    color: $btn-fg-color;
    font-weight: 700;

    &.btn-submit {
      background-color: $btn-submit;
    }

    &.btn-cancel {
      background-color: $btn-cancel;
    }
  }

  .data-row {
    margin-bottom: .5rem;

    @include inputs;

    .phone_number {
      width: $input-width;
      box-sizing: border-box;

      select {
        width: 60%;
        box-sizing: border-box;
        background-color: $input-bg;
      }

      input {
        width: calc(40% - 5px);
        margin-left: 5px;
        box-sizing: border-box;
      }
    }
  }

  .data-error {
    ul {
      background-color: $bs-danger-bg;
      border-radius: 4px;
      list-style-type: none;
      margin-bottom: 1.2rem;
      padding: .3rem .5rem;
    }

    li {
      color: $bs-danger-fg;
      font-size: .7rem;
      &:before {
        content: '\f071 ';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
      }
    }
  }

  .data-column:first-child {
    padding-right: 0;
  }

  .data-column:last-child {
    padding-left: 0;
  }

  @include media-breakpoint-up(lg) {
    .data-column:first-child {
      border-right: 1px solid grayscale(lighten($line-color, 30%));
      padding-right: 1rem;
    }

    .data-column:last-child {
      padding-left: 1rem;
    }
  }
}
