@import '../commons/variables';
@import '../commons/common';
@import '~@fortawesome/fontawesome-free/css/all.css';

.list {
  @include title;

  .user-enabled {
    color: $user-enabled;
  }

  .user-disabled {
    color: $user-disabled;
  }

  .btn, a {
    color: $btn-fg-color;

    &.btn-edit {
      background-color: $btn-edit;
    }

    &.btn-revoke {
      background-color: $btn-revoke;
    }

    &.btn-undo-revoke {
      background-color: $btn-undo-revoke;
    }

    &.btn-delete {
      background-color: $btn-delete;
    }
  }

  .counter {
    .user-count {
      background-color: $input-bg;
      border-bottom-left-radius: 4px;
      border-color: $btn-undo-revoke;
      border-top-left-radius: 4px;
      color: $input-fg;
      font-size: 1.5rem;
      text-align: center;
      width: 80px;
    }

    .btn-add {
      background-color: $btn-undo-revoke;
    }

    .fas {
      line-height: 1.5;
    }
  }

  .table {
    font-size: .9rem;
  }

  td {
    vertical-align: middle;

    &.row-id {
      min-width: 40px;
      text-align: right;
    }

    &.row-center {
      text-align: center;
    }

    &.row-right {
      text-align: right;
    }
  }
}
