$input_bgcolor: lightgrey;
$input_fgcolor: black;

.fsb {
  .login-screen {
    margin: 200px auto;
    width: 600px;
    min-height: 200px;
    padding: 3em;

    .login-form {
      margin-bottom: 20px;

      .field {
        label {
          width: 100%;
          font-size: 18px;
          padding-top: 5px;
          font-size: 1.3rem;
        }

        input:not([type="submit"]) {
          transition-duration: 500ms;
          font-size: 1.1rem;
          border: 1px darken($input_bgcolor, 20%) solid !important;
          border-radius: 5px;
          background-color: lightgray !important;
          color: $input_fgcolor !important;
          padding: 0 10px;
          &:hover {
            transition-duration: 500ms;
            background-color: darken($input_bgcolor, 10%) !important;
            font-size: 1.1rem;
          }
          &:focus {
            transition-duration: 500ms;
            background-color: darken($input_bgcolor, 10%) !important;
            border: 2px darken($input_bgcolor, 20%) solid !important;
            font-size: 1.1rem;
          }
        }
      }

      .button {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}