{% trans_default_domain 'SecurityBundle' %}

<html>
    <head>
        {% include '@FlagstoneSecurity/email/stylesheets/default_stylesheet.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <p class="best">
            {{ 'template.best_regards'|trans }}
        </p>
        <p class="signature">
            {{ 'template.team'|trans }}
        </p>
    </body>
</html>