<html>
<head>
    <title>Admin Login screen</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/flagstonesecurity/build/fsb_login.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="fsb">
        <div class="row justify-content-center align-items-center login-screen">
            <div class="col-12">
                <div class="row justify-content-center logo">
                    <!-- include configurable image -->
                    <a href="/"><img src="" class="login-logo"/></a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% include '@FlagstoneSecurity/form/login_form.html.twig' %}
                    </div>
                </div>
                <div class="row justify-content-center link">
                    <div class="col-12">
                        <div class="row justify-content-center back-site">
                            <p><a href="/">{{ 'login.back'|trans({}, 'SecurityBundle') }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>