{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for account change                                                                                   #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                                #}
{#  |   @var User admin                                                                                               #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% trans_default_domain 'SecurityBundle' %}
{% if user.locale is not null %}
    {% set locale = user.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}
{% if user.firstName is not empty and user.lastName is not empty %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.firstName|decrypt(user, 'firstName') }} {{ user.lastName|decrypt(user, 'lastName') }},
{% else %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.username|decrypt(user, 'username') }},
{% endif %}

{% for change in changedData %}
    {% if change.is_encrypt %}
        {% set currentDecipherValue = change.old_value|decrypt(user, change.key)|decrypt(user, change.key) %}
        {% if change.new_value != currentDecipherValue %}
- {{ ('user.'~change.key)|trans }} : {{ change.new_value }} (old: {{ change.old_value|decrypt(user, change.key) }} )
        {% endif %}
    {% else %}
- {{ ('user.'~change.key)|trans }} : {{ change.new_value }} (old: {{ change.old_value }} )
    {% endif %}
{% endfor %}
