{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for adding a new User (txt part)                                                                     #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                                #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% trans_default_domain 'SecurityBundle' %}
{% if user.locale is not null %}
    {% set locale = user.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}
{% if user.firstName is not empty and user.lastName is not empty %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.firstName }} {{ user.lastName }},
{% else %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.username }},
{% endif %}

Account created

Credentials

{{ 'user.username'|trans({}, 'SecurityBundle', locale) }} : {{ user.username|decrypt(user, 'username') }}
{{ 'login.password'|trans({}, 'SecurityBundle', locale) }} : {{ user.plainPassword }}
{{ 'user.is_account_enabled'|trans({}, 'SecurityBundle', locale) }} : {% if user.enabled == true %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}

Account data

{{ 'user.firstname'|trans({}, 'SecurityBundle', locale) }} : {{ user.firstname|decrypt(user, 'firstName') }}
{{ 'user.lastname'|trans({}, 'SecurityBundle', locale) }} : {{ user.firstname|decrypt(user, 'lastName') }}
{{ 'user.email'|trans({}, 'SecurityBundle', locale) }} : {{ user.email|decrypt(user, 'email') }}
{{ 'user.company'|trans({}, 'SecurityBundle', locale) }} : {{ user.company|decrypt(user, 'company') }}
{{ 'user.position'|trans({}, 'SecurityBundle', locale) }} : {{ user.position|decrypt(user, 'position') }}
{{ 'user.phone_number'|trans({}, 'SecurityBundle', locale) }} : {{ user.phoneNumber }}
{{ 'user.locale'|trans({}, 'SecurityBundle', locale) }} : {{ user.locale }}

Regards

The Team

Footer