{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for password change                                                                                  #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                                #}
{#  |   @var User admin                                                                                               #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% trans_default_domain 'SecurityBundle' %}
{% if user.locale is not null %}
    {% set locale = user.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}
{% if user.firstName is not empty and user.lastName is not empty %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.firstName }} {{ user.lastName }},
{% else %}
    {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.username }},
{% endif %}
{% if user.id == admin.id %}
    {{ 'own_password_change'|trans({}, 'SecurityBundle', locale) }}
{% else %}
    {% if admin.firstname is not empty and admin.lastname is not empty %}
        {{ 'password_change_admin'|trans({}, 'SecurityBundle', locale) }}
    {% else %}
        {{ 'password_change_admin_username'|trans({}, 'SecurityBundle', locale) }}
    {% endif %}
{% endif %}
