{% extends '@FlagstoneSecurity/base_html_email.html.twig' %}

{# @var user User #}
{% trans_default_domain 'SecurityBundle' %}

{% block stylesheets %}
    {% include '@FlagstoneSecurity/email/stylesheets/user_enabled_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="title">
        {{ user.firstname|decrypt(user, 'firstname') }} {{ user.lastname|decrypt(user, 'lastname') }}
    </div>
    <p class="mail-body">
        {{ 'template.user_enabled_listener.enabled'|trans }}
    </p>
{% endblock %}