{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for adding a new User                                                                                #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                                #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% extends '@FlagstoneSecurity/base_html_email.html.twig' %}

{% trans_default_domain 'SecurityBundle' %}
{% if user.locale is not null %}
    {% set locale = user.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}

{% block stylesheets %}
    {% include '@FlagstoneSecurity/email/stylesheets/user_enabled_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="title">
        {% if user.firstName is not empty and user.lastName is not empty %}
            <p>{{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.firstName|decrypt(user, 'firstName') }} {{ user.lastName|decrypt(user, 'lastName') }},
        {% else %}
            {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.username }},
        {% endif %}
    </div>
    <p class="description">Account created</p>
    <p class="credentials">Credentials</p>
    <p>
        <span class="title">{{ 'user.username'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.userName|decrypt(user, 'username') }}</span>
    </p>
    <p>
        <span class="title">{{ 'login.password'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.plainPassword }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.is_account_enabled'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{% if user.enabled == true %}{{ 'yes'|trans({}, 'SecurityBundle', locale) }}{% else %}{{ 'no'|trans({}, 'SecurityBundle', locale) }}{% endif %}</span>
    </p>
    <p class="data">Account data</p>
    <p>
        <span class="title">{{ 'user.firstname'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.firstName|decrypt(user, 'firstName') }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.lastname'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.lastName|decrypt(user, 'lastName') }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.email'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.email|decrypt(user, 'email') }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.company'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.company }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.position'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.position }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.phone_number'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.phoneNumber }}</span>
    </p>
    <p>
        <span class="title">{{ 'user.language'|trans({}, 'SecurityBundle', locale) }} : </span>
        <span class="data">{{ user.locale }}</span>
    </p>
    <p class="regards">Regards</p>
    <p class="signature">The Team</p>
{% endblock %}