{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for account change                                                                                   #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                                #}
{#  |   @var User admin                                                                                               #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% extends '@FlagstoneSecurity/base_html_email.html.twig' %}

{% trans_default_domain 'SecurityBundle' %}

{% block stylesheets %}
    {% include '@FlagstoneSecurity/email/stylesheets/user_enabled_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="title">
        {{ user.firstname|decrypt(user, 'firstName') }} {{ user.lastname|decrypt(user, 'lastName') }}
    </div>
    {% for change in changedData %}
        <p class="mail-body">
            {% if change.is_encrypt %}
                {% set currentDecipherValue = change.old_value|decrypt(user, change.key)|decrypt(user, change.key) %}
                {% if change.new_value != currentDecipherValue %}
                    <strong>{{ ('user.'~change.key)|trans }}</strong> : {{ change.new_value }} (old: <em>{{ change.old_value|decrypt(user, change.key)|decrypt(user, change.key)  }}</em> )
                {% endif %}
            {% else %}
                <strong>{{ ('user.'~change.key)|trans }}</strong> : {{ change.new_value }} (old: <em>{{ change.old_value }}</em> )
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}