{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   Template for password change                                                                                  #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{#  |   @var User user                                                                                               #}
{#  |   @var User admin                                                                                              #}
{#  +---------------------------------------------------------------------------------------------------------------- #}
{% extends '@FlagstoneSecurity/base_html_email.html.twig' %}

{% trans_default_domain 'SecurityBundle' %}
{% if user.locale is not null %}
    {% set locale = user.locale %}
{% else %}
    {% set locale = app.request.defaultLocale %}
{% endif %}

{% block stylesheets %}
    {% include '@FlagstoneSecurity/email/stylesheets/user_enabled_stylesheet.html.twig' %}
{% endblock %}

{% block body %}
    <div class="title">
        {% if user.firstName is not empty and user.lastName is not empty %}
            {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.firstName }} {{ user.lastName }},
        {% else %}
            {{ 'hello'|trans({}, 'SecurityBundle', locale) }} {{ user.username }},
        {% endif %}
    </div>
    <p class="mail-body">
        {% if user.id == admin.id %}
            {{ 'own_password_change'|trans({}, 'SecurityBundle', locale) }}
        {% else %}
            {% if admin.firstname is not empty and admin.lastname is not empty %}
                {{ 'password_change_admin'|trans({}, 'SecurityBundle', locale) }}
            {% else %}
                {{ 'password_change_admin_username'|trans({}, 'SecurityBundle', locale) }}
            {% endif %}
        {% endif %}
    </p>
    <p class="footer">
        {{ 'nice_day'|trans({}, 'SecurityBundle', locale) }}
    </p>
{% endblock %}