{#  ****************************************************************************************************************
    *   Edition of a user
    ****************************************************************************************************************  #}

{#  @var user \Flagstone\SecurityBundle\Entity\User #}
{#  @var form \Symfony\Component\Form\Form #}
{% trans_default_domain 'SecurityBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/flagstonesecurity/build/fsb_edit.css') }}" type="text/css">
{% endblock %}

<div class="container edit">
    {% if not form.vars.valid %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ 'user.form.errors'|trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="far fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="title d-flex justify-content-between no-gutters">
        <h1 class="col-6">{{ 'user.labels.edit.title'|trans }}</h1>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-submit">Submit</button>
            <a href="{{ path('user_list') }}" class="btn btn-cancel">Cancel</a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="data-column col-12 col-lg-6">
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.username) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.email) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.firstName) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.lastName) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.company) }}
                {{ form_widget(form.company) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.company) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.position) }}
                {{ form_widget(form.position) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.position) }}
            </div>
        </div>
        <div class="data-column col-12 col-lg-6">
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="data-error">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.checkPassword) }}
                {{ form_widget(form.checkPassword) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.enabled) }}
                {{ form_widget(form.enabled) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
            </div>
            <div class="data-row d-flex no-gutters justify-content-between align-items-center">
                {{ form_label(form.locale) }}
                {{ form_widget(form.locale) }}
            </div>
        </div>
    </div>
    <div class="footer d-flex justify-content-end no-gutters">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-submit">Submit</button>
            <a href="{{ path('user_list') }}" class="btn btn-cancel">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}
</div>