{#  ****************************************************************************************************************
    *   List of security users
    ****************************************************************************************************************  #}

{#  @var users User[] #}
{% trans_default_domain 'SecurityBundle' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/flagstonesecurity/build/fsb_list.css') }}" type="text/css">
{% endblock %}
<div class="container list">
    <div class="title d-flex justify-content-between no-gutters">
        <h1 class="col-6">{{ 'user.labels.list.title'|trans }}</h1>
        <div class="input-group counter d-flew justify-content-end">
            <input class="user-count" type="text" class="form-control" readonly value="{{ users|length }}" aria-labelledby="user-add">
            <div class="input-group-append">
                <a href="{{ path('user_add') }}" class="btn btn-add" id="user-add">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
            <tr class="thead-dark">
                <th>#</th>
                <th>{{ 'user.username'|trans }}</th>
                <th>{{ 'user.email'|trans }}</th>
                <th>{{ 'user.firstname'|trans }}</th>
                <th>{{ 'user.lastname'|trans }}</th>
                <th>{{ 'user.company'|trans }}</th>
                <th>{{ 'user.position'|trans }}</th>
                <th>{{ 'user.phone_number'|trans }}</th>
                <th>{{ 'user.active'|trans }}</th>
                <th>{{ 'user.list.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {#  @var user \Flagstone\SecurityBundle\Entity\User #}
            {% for user in users %}
                <tr>
                    <td class="row-id">{{ user.id }}</td>
                    <td>{{ user.username|decrypt(user, 'username') }}</td>
                    <td>{{ user.email|decrypt(user, 'email') }}</td>
                    <td>{{ user.firstname|decrypt(user, 'firstName')  }}</td>
                    <td>{{ user.lastname|decrypt(user, 'lastName')  }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user.position }}</td>
                    <td>{%  if user.phoneNumber != null %}
                            {{ user.phoneNumber }}
                        {% endif %}
                    </td>
                    <td class="row-center">
                        {% if user.enabled == true %}
                            <i class="user-enabled far fa-thumbs-up"></i>
                        {% else %}
                            <i class="user-disabled fas fa-ban"></i>
                        {% endif %}
                    </td>
                    <td>
                        {# List of actions buttons #}
                        <div class="btn-group btn-group-sm" role="group" aria-label="actions for user {{ user.username|decrypt(user, 'username') }}">
                            <a class="btn btn-edit" href="{{ path('user_edit', {'uuid': user.uuid}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% if user.enabled == true %}
                                <a class="btn btn-revoke" href="{{ path('user_enabled', {'uuid': user.uuid, 'enabled': 0}) }}">
                                    <i class="fas fa-ban"></i>
                                </a>
                            {% else %}
                                <a class="btn btn-undo-revoke" href="{{ path('user_enabled', {'uuid': user.uuid, 'enabled': 1}) }}">
                                    <i class="fas fa-thumbs-up"></i>
                                </a>
                            {% endif %}
                            <div class="btn btn-delete"><i class="fas fa-trash"></i></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/flagstonesecurity/build/bootstrap.js') }}"></script>
{% endblock %}